@import "variables.scss";

.main {
  width: 100vw;
  padding: 1.5rem 2rem 0;

  @media (min-width: $breakpoint-tablet) {
    padding: 3rem 4rem 0;
  }

  .backbtn {
    min-width: 5.5rem;
    height: 2rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border: none;
    border-radius: 4px;
    box-shadow: $light-shadow;
    cursor: pointer;
  }

  .container {
    width: 100%;
    margin-top: 1rem;

    @media (min-width: $breakpoint-tablet) {
      display: grid;
      grid-template-columns: 0.8fr 1.2fr;
      gap: 1rem;
    }

    .image {
      position: relative;
      width: 100%;
      max-width: 368px;
      height: 250px;
      margin: 2rem 0 1rem;
    }

    .details {
      width: 100%;

      @media (min-width: $breakpoint-tablet) {
        padding: 0 2rem;
      }

      h1 {
        padding: 2rem 0;
      }

      .detailscontainer {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;

        p {
          margin-bottom: 0.5rem;

          span {
            font-weight: 600;
          }
        }
      }

      .borderinfo {
        margin: 2rem 0;
        @media (min-width: $breakpoint-tablet) {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
        }

        h3 {
          text-transform: capitalize;
        }

        div {
          display: flex;
          gap: 0.5rem;
          flex-wrap: wrap;
          margin-top: 1rem;

          @media (min-width: $breakpoint-tablet) {
            margin: 0 0 0 1rem;
          }
        }
      }
    }
  }
}
