@import 'variables.scss';

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 1rem;
    box-shadow: $light-shadow;
    
    h1 {
        font-size: 1rem;
        font-weight: 800;
    }
    
    button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        background: transparent;
        border: none;
        text-transform: capitalize;
        font-size: 0.875rem;
        transition: $transition;
    }
}